*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div_menu{
    margin-left: 50px;
    margin-top: 180px;
    /* background-color: blue; */
    width: 50%;
    height: 370px;
}
.div_menu h1{
    font-size: 70px;
}
.div_menu p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.div_menu button{
    background-color: #FFDE81;
    font-size: 18px;
    width: 30%;
    height: 60px;
    border-radius: 30px;
}
.div_img{
    display: flex;
    position: absolute;
    top: 60px;
    left: 600px;
}
.caja{
    width: 40%;
    background-color: brown;
}
