<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="text">
            <h1>Take your designs to the next level</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <button>Explore</button>
        </section>
    </header>

    <main>
        <section class="images">
            <div class="nigga">
                <img src="/sotrage/img/negro.png" alt="">
            </div>
            <div class="p1">
                <img src="/sotrage/img/pattern (2).png" alt="">
            </div>
            <div class="p2">
                <img src="/sotrage/img/pattern (3).png" alt="">
            </div>
            <div class="circle">
                <img src="/sotrage/img/Ellipse bg.png" alt="">
            </div>
        </section>
    </main>
</body>
</html>